html, body{
  height: 100%;
  width:100%;
}
.App {
  text-align: center;
  height: 85%;
  width: 100%;
}

.column-container{
  height: 100%;
  width: 27%;
  /* border-left:1px solid black;
  border-right:1px solid black; */
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: center;
  padding:5px;
}

.main-body{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

.App-intro {
  font-size: large;
}
.card-entry{

}

