body, html{
  height:100%;
  width:100%;
}

.card-list-container{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  height: 70%;
  width:100%;
}

.card-entry{
  height: 20%;
  margin-top:10px;
  width:100%;
  background-color:green;
  margin-top:10px;
}

#root{
  height: 100%;
}