body, html{
  height:100%;
  width:100%;
}

.card-list-container{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  height: 100%;
  width:100%;
}

.card-entry{
  height: 20%;
  margin-top:10px;
  width:100%;

  margin-top:10px;
}

#root{
  height: 100%;
}

.Done{
  background-color: red;
  height: 100%;
}
.Queue{
  background-color: green;
  height:100%;
}

.In.Progress{
  background-color: aqua;
  height: 100%;
}

